In [2]:
# 한컴오피스 자동화 입문1 : 상장 자동제작 feat.파이썬
# https://youtu.be/1pC_UXhiJH8

import win32com.client as win32
import pandas as pd

In [3]:
# hwp = win32.Dispatch("HWPFrame.HwpObject")		# 만약 오류가 발생한다면 : pywintypes.com_error: (-2147352562, '매개 변수의 개수가 잘못되었습니다.', None, None)
hwp = win32.gencache.EnsureDispatch("HWPFrame.HwpObject")

# 보안모듈 등록 : 오류난다면 레지스트리 키의 철자, 경로 확인할 것
hwp.RegisterModule('FilePathCheckDLL', "SecurityModule")

True

In [9]:
# 모든 시트 불러오기 : sheet_name=None
# 헤더(= 컬럼 니름 = 1행) 없으면 : header=None
# 인덱스 만들고 싶지 않으면 : index_col=None
excel = pd.read_excel("상속 이전 안내문 발송대상자 명단(5월~8월).xlsx", sheet_name=None)

excel

{'대상자명단(5월)':    순번         수신일       사망신고일  자동차등록번호          주민등록번호   성명   소유구분  \
 0   1  2021.05.04  2021.05.03  02버2585  450818-1068514  신병호  대표소유자
 1   2  2021.05.05  2021.05.04  11구1488  380311-1011123  김동기  대표소유자
 2   3  2021.05.11  2021.05.10  51러0795  330506-2042217  이규남  대표소유자
 3   4         NaN         NaN  51러0795  641228-2042311  김민정  공동소유자
 4   5  2021.05.14  2021.05.13  07노5689  541011-1341825  이승기  대표소유자
 5   6  2021.05.18  2021.05.17  32조4075  650419-1009414  김오남  대표소유자
 6   7  2021.05.25  2021.05.24  03거8445  520705-1221211  정태희  대표소유자
 7   8  2021.05.26  2021.05.25  02루0254  600319-1051121  최재유  공동소유자
 8   9         NaN         NaN  02루0254  960105-1064921   최호  대표소유자
 9  10  2021.05.26  2021.05.25  06마3459  350322-1038015  이강복  대표소유자

                                                주민주소  주민주소 우편번호  \
 0          서울특별시 노원구 마들로 31, 105동 204호(월계동, 그랑빌아파트)       1913
 1           서울특별시 노원구 노원로 58, 405동 804호(공릉동, 우방아파트)       1799
 2             서울특별시 노원구 중계로16길 61, 101호(중계동, 삼성빌리지)       1722
 3             서울특별시 노원구 중계로16길 61, 101호(중계동, 삼성빌리지)       1722
 4  서울특별시 노원구 동일로207길 186, 114동 1103호(하계동, 학여울청구아파트)       1775
 5       서울특별시 노원구 동일로215길 48, 314동 101호(상계동, 주공아파트)       1761
 6       서울특별시 노원구 한글비석로 530, 1205동 606호(상계동, 주공아파트)       1673
 7                    서울특별시 성북구 월곡로11길 20, B01호(종암동)       2799
 8  서울특별시 노원구 초안산로1길 15, 107동 409호(월계동, 월계1단지 주공아파트)       1881
 9       서울특별시 노원구 노원로1가길 10, 802동 1304호(공릉동, 청솔아파트)       1822

                                            사용본거지 주소  사용본거지 우편번호  전화번호  핸드폰번호  \
 0          서울특별시 노원구 마들로 31, 105동 204호(월계동, 그랑빌아파트)        1913   NaN    NaN
 1           서울특별시 노원구 노원로 58, 405동 804호(공릉동, 우방아파트)        1799   NaN    NaN
 2             서울특별시 노원구 중계로16길 61, 101호(중계동, 삼성빌리지)        1722   NaN    NaN
 3             서울특별시 노원구 중계로16길 61, 101호(중계동, 삼성빌리지)        1723   NaN    NaN
 4  서울특별시 노원구 동일로207길 186, 114동 1103호(하계동, 학여울청구아파트)        1775   NaN    NaN
 5       서울특별시 노원구 동일로215길 48, 314동 101호(상계동, 주공아파트)        1761   NaN    NaN
 6       서울특별시 노원구 한글비석로 530, 1205동 606호(상계동, 주공아파트)        1673   NaN    NaN
 7  서울특별시 노원구 초안산로1길 15, 107동 409호(월계동, 월계1단지 주공아파트)        1881   NaN    NaN
 8  서울특별시 노원구 초안산로1길 15, 107동 409호(월계동, 월계1단지 주공아파트)        1882   NaN    NaN
 9       서울특별시 노원구 노원로1가길 10, 802동 1304호(공릉동, 청솔아파트)        1822   NaN    NaN

           사망사유              시군구등록일시
 0       사망신고말소  2021.05.03 14.04.58
 1       사망신고말소  2021.05.04 10.52.31
 2       사망신고말소  2021.05.10 12.52.19
 3          NaN                  NaN
 4       사망신고말소  2021.05.13 11.46.43
 5  11호통보의거사망말소  2021.05.17 15.24.11
 6       사망신고말소  2021.05.24 12.25.50
 7  11호통보의거사망말소  2021.05.25 16.55.27
 8          NaN                  NaN
 9       사망신고말소  2021.05.25 18.21.55  ,
 '대상자명단(6월)':     순번         수신일       사망신고일    자동차등록번호          주민등록번호   성명   소유구분  \
 0    1  2021.06.02  2021.06.01  경기74노7136  640207-1012021  양기태  대표소유자
 1    2  2021.06.02  2021.06.01  서울36나8155  640207-1012021  양기태  대표소유자
 2    3  2021.06.04  2021.06.03    29더6317  500417-2063517  오영희  공동소유자
 3    4         NaN         NaN    29더6317  750101-1063514  윤찬영  대표소유자
 4    5  2021.06.05  2021.06.04  서울55더3183  420729-1025622  정기남  대표소유자
 5    6         NaN         NaN  서울55더3183  761227-1025612  정철준  공동소유자
 6    7  2021.06.08  2021.06.07    15너4979  451123-1001412  박영명  대표소유자
 7    8         NaN         NaN    15너4979  491031-2******  정인애  공동소유자
 8    9  2021.06.10  2021.06.09    15고1794  520925-1163110  박선범  대표소유자
 9   10  2021.06.11  2021.06.10    50무2188  690126-1030730  류승진  대표소유자
 10  11  2021.06.11  2021.06.10    62루1256  490507-1031011  유은식  대표소유자
 11  12  2021.06.12  2021.06.11    03러5963  870418-1032714  백종우  대표소유자
 12  13  2021.06.12  2021.06.11   136마9013  870418-1032714  백종우  대표소유자
 13  14  2021.06.15  2021.06.14    53구4384  481022-1019411  곽세현  공동소유자
 14  15         NaN         NaN    53구4384  790111-1019420  곽병훈  대표소유자
 15  16  2021.06.17  2021.06.16    12마4950  541212-2001621  김양자  공동소유자
 16  17         NaN         NaN    12마4950  560303-1026213  강재희  대표소유자
 17  18  2021.06.17  2021.06.16    40버1934  650307-1657531  정권웅  대표소유자
 18  19  2021.06.19  2021.06.18    54머2820  301011-1055111  한동수  대표소유자
 19  20  2021.06.23  2021.06.22    83구5417  400415-2025812  성정귀  대표소유자
 20  21  2021.06.23  2021.06.22  서울35라6789  300204-2011129  황순애  대표소유자
 21  22  2021.06.29  2021.06.28   서울2으4743  421024-2010017  성영자  대표소유자
 22  23  2021.06.30  2021.06.29    16라9682  390120-1031218  배귀천  공동소유자
 23  24         NaN         NaN    16라9682  651110-1031215  배덕성  대표소유자

                                                주민주소  주민주소 우편번호  \
 0                         서울특별시 노원구 상계로37가길 32(상계동)       1632
 1                         서울특별시 노원구 상계로37가길 32(상계동)       1632
 2         서울특별시 노원구 노원로 564, 1006동 309호(상계동, 주공아파트)       1675
 3         서울특별시 노원구 노원로 564, 1006동 309호(상계동, 주공아파트)       1675
 4            서울특별시 노원구 섬밭로 265, 1동 409호(중계동, 경남아파트)       1774
 5            서울특별시 노원구 섬밭로 265, 1동 409호(중계동, 경남아파트)       1774
 6         서울특별시 노원구 마들로 31, 110동 2502호(월계동, 그랑빌아파트)       1913
 7         서울특별시 노원구 마들로 31, 110동 2502호(월계동, 그랑빌아파트)       1913
 8                    서울특별시 노원구 한글비석로24라길 94-14(상계동)       1657
 9     서울특별시 노원구 동일로227길 25, 1108동 1204호(상계동, 주공아파트)       1619
 10          서울특별시 노원구 광운로 46, 101동 203호(월계동, 대동아파트)       1894
 11          서울특별시 노원구 중계로8나길 13, 201호(중계동, 중계현대하이츠)       1728
 12          서울특별시 노원구 중계로8나길 13, 201호(중계동, 중계현대하이츠)       1728
 13       서울특별시 강동구 상암로 11, 115동 1404호(암사동, 선사현대아파트)       5240
 14     서울특별시 노원구 동일로227길 86, 1601동 702호(상계동, 주공아파트)       1618
 15         서울특별시 노원구 노해로 508, 622동 206호(상계동, 주공아파트)       1752
 16        서울특별시 노원구 동일로 1390, 602동 604호(상계동, 주공아파트)       1751
 17    서울특별시 노원구 동일로228길 23, 1405동 1005호(상계동, 주공아파트)       1669
 18                 서울특별시 노원구 동일로231다길 24, 201호(상계동)       1614
 19  서울특별시 노원구 누원로 28, 310동 1005호(상계동, 수락리버시티3단지아파트)       1600
 20     서울특별시 노원구 월계로45가길 94, 401동 1303호(월계동, 청백아파트)       1876
 21                   서울특별시 노원구 한글비석로24라길 9(상계동, 2층)       1664
 22            서울특별시 노원구 한글비석로 424, 402호(상계동, 솔매빌라트)       1667
 23            서울특별시 노원구 한글비석로 424, 402호(상계동, 솔매빌라트)       1667

                                            사용본거지 주소  사용본거지 우편번호      전화번호  \
 0                         서울특별시 노원구 상계로37가길 32(상계동)        1632       NaN
 1                         서울특별시 노원구 상계로37가길 32(상계동)        1632       NaN
 2         서울특별시 노원구 노원로 564, 1006동 309호(상계동, 주공아파트)        1675       NaN
 3         서울특별시 노원구 노원로 564, 1006동 309호(상계동, 주공아파트)        1676       NaN
 4            서울특별시 노원구 섬밭로 265, 1동 409호(중계동, 경남아파트)        1774       NaN
 5            서울특별시 노원구 섬밭로 265, 1동 409호(중계동, 경남아파트)        1775       NaN
 6         서울특별시 노원구 마들로 31, 110동 2502호(월계동, 그랑빌아파트)        1913       NaN
 7         서울특별시 노원구 마들로 31, 110동 2502호(월계동, 그랑빌아파트)        1914       NaN
 8                    서울특별시 노원구 한글비석로24라길 94-14(상계동)        1657       NaN
 9     서울특별시 노원구 동일로227길 25, 1108동 1204호(상계동, 주공아파트)        1619       NaN
 10          서울특별시 노원구 광운로 46, 101동 203호(월계동, 대동아파트)        1894       NaN
 11          서울특별시 노원구 중계로8나길 13, 201호(중계동, 중계현대하이츠)        1728       NaN
 12          서울특별시 노원구 중계로8나길 13, 201호(중계동, 중계현대하이츠)        1728       NaN
 13     서울특별시 노원구 동일로227길 86, 1601동 702호(상계동, 주공아파트)        1618       NaN
 14     서울특별시 노원구 동일로227길 86, 1601동 702호(상계동, 주공아파트)        1618       NaN
 15         서울특별시 노원구 노해로 508, 622동 206호(상계동, 주공아파트)        1752       NaN
 16         서울특별시 노원구 노해로 508, 622동 206호(상계동, 주공아파트)        1752       NaN
 17    서울특별시 노원구 동일로228길 23, 1405동 1005호(상계동, 주공아파트)        1669  254-4717
 18                 서울특별시 노원구 동일로231다길 24, 201호(상계동)        1614       NaN
 19  서울특별시 노원구 누원로 28, 310동 1005호(상계동, 수락리버시티3단지아파트)        1600       NaN
 20     서울특별시 노원구 월계로45가길 94, 401동 1303호(월계동, 청백아파트)        1876       NaN
 21                   서울특별시 노원구 한글비석로24라길 9(상계동, 2층)        1664       NaN
 22            서울특별시 노원구 한글비석로 424, 402호(상계동, 솔매빌라트)        1667       NaN
 23            서울특별시 노원구 한글비석로 424, 402호(상계동, 솔매빌라트)        1667       NaN

             핸드폰번호         사망사유              시군구등록일시
 0             NaN  11호통보의거사망말소  2021.06.01 08.54.51
 1             NaN  11호통보의거사망말소  2021.06.01 08.54.51
 2             NaN       사망신고말소  2021.06.03 10.29.56
 3             NaN          NaN                  NaN
 4             NaN       사망신고말소  2021.06.04 11.36.13
 5             NaN          NaN                  NaN
 6             NaN       사망신고말소  2021.06.07 14.01.54
 7             NaN          NaN                  NaN
 8             NaN  11호통보의거사망말소  2021.06.09 11.50.46
 9             NaN  11호통보의거사망말소  2021.06.10 11.17.31
 10            NaN       사망신고말소  2021.06.10 14.27.31
 11            NaN       사망신고말소  2021.06.11 15.39.51
 12  010-7713-5049       사망신고말소  2021.06.11 15.39.51
 13            NaN       사망신고말소  2021.06.14 10.37.37
 14            NaN          NaN                  NaN
 15            NaN       사망신고말소  2021.06.16 14.08.18
 16            NaN          NaN                  NaN
 17            NaN       사망신고말소  2021.06.16 11.41.14
 18   011-288-5828       사망신고말소  2021.06.18 17.23.43
 19            NaN       사망신고말소  2021.06.22 11.30.53
 20            NaN       사망신고말소  2021.06.22 16.39.07
 21            NaN       사망신고말소  2021.06.28 11.47.19
 22            NaN       사망신고말소  2021.06.29 10.27.36
 23            NaN          NaN                  NaN  ,
 '대상자명단(7월)':     순번         수신일       사망신고일    자동차등록번호          주민등록번호   성명   소유구분  \
 0    1  2021.07.02  2021.07.01    90보9729  330315-2222924  최기근  대표소유자
 1    2         NaN         NaN    90보9729  541017-2222910  이종옥  공동소유자
 2    3  2021.07.06  2021.07.05    06오3099  590107-1143611   박진  대표소유자
 3    4  2021.07.06  2021.07.05    54어0406  601127-1167427  김석원  대표소유자
 4    5  2021.07.09  2021.07.08   163너8596  270220-2466617  김기정  공동소유자
 5    6         NaN         NaN   163너8596  460526-1002616  주연규  대표소유자
 6    7  2021.07.13  2021.07.12  강원27다2333  300702-2345411  이봉춘  대표소유자
 7    8  2021.07.14  2021.07.13   서울3후1266  410529-1011611  송갑주  대표소유자
 8    9  2021.07.16  2021.07.15    27더3385  301014-1025311  정창헌  대표소유자
 9   10         NaN         NaN    27더3385  880602-2032313  정지은  공동소유자
 10  11  2021.07.16  2021.07.15   304구9417  481009-1161914  방문식  공동소유자
 11  12         NaN         NaN   304구9417  760324-1161915  방기용  대표소유자
 12  13  2021.07.20  2021.07.19   358주3334  351024-1031011  윤석순  대표소유자
 13  14         NaN         NaN   358주3334  950916-1035015  윤상준  공동소유자
 14  15  2021.07.27  2021.07.26   382구7080  211010-2466411  김남성  대표소유자
 15  16         NaN         NaN   382구7080  661125-2466424  표병국  공동소유자
 16  17  2021.07.31  2021.07.30    40무0791  490712-1024130  김재인  대표소유자
 17  18         NaN         NaN    40무0791  810912-2024117  김윤정  공동소유자
 18  19  2021.07.31  2021.07.30    42소2371  341011-2010317  양유순  대표소유자
 19  20         NaN         NaN    42소2371  570121-1010321  유향목  공동소유자

                                                 주민주소  주민주소 우편번호  \
 0        서울특별시 노원구 동일로248길 16, 507동 102호(상계동, 수락파크빌)       1624
 1        서울특별시 노원구 동일로248길 16, 507동 102호(상계동, 수락파크빌)       1624
 2           서울특별시 노원구 노원로 331, 305동 321호(중계동, 목련아파트)       1786
 3           서울특별시 노원구 섬밭로 201, 509동 207호(하계동, 시영아파트)       1862
 4                       충청남도 홍성군 금마면 광금북로276번길 17-28      32281
 5   서울특별시 노원구 동일로207길 186, 102동 1404호(하계동, 학여울청구아파트)       1775
 6                  서울특별시 노원구 동일로237바길 5-3, 102호(상계동)       1610
 7                                전라북도 부안군 줄포면 화전길 78      56324
 8    서울특별시 노원구 광운로 132, 102동 1202호(월계동, 월계역신도브래뉴아파트)       1885
 9    서울특별시 노원구 광운로 132, 102동 1202호(월계동, 월계역신도브래뉴아파트)       1885
 10       서울특별시 노원구 덕릉로76길 29, 402동 1503호(중계동, 주공아파트)       1712
 11       서울특별시 노원구 덕릉로76길 29, 402동 1503호(중계동, 주공아파트)       1712
 12   서울특별시 노원구 동일로250길 18, 112동 304호(상계동, 수락산벨리체아파트)       1623
 13   서울특별시 노원구 동일로250길 18, 112동 304호(상계동, 수락산벨리체아파트)       1623
 14      서울특별시 노원구 한글비석로 530, 1203동 1503호(상계동, 주공아파트)       1673
 15      서울특별시 노원구 한글비석로 530, 1203동 1503호(상계동, 주공아파트)       1673
 16       서울특별시 노원구 동일로215길 23, 220동 214호(상계동, 주공아파트)       1764
 17      서울특별시 노원구 동일로227길 26, 1506동 301호(상계동, 주공아파트)       1617
 18          서울특별시 노원구 섬밭로 196, 612동 202호(하계동, 장미아파트)       1863
 19    서울특별시 성북구 아리랑로 89, 107동 1704호(돈암동, 일신건영휴먼빌아파트)       2826

                                             사용본거지 주소 사용본거지 우편번호  전화번호  \
 0        서울특별시 노원구 동일로248길 16, 507동 102호(상계동, 수락파크빌)      01624   NaN
 1        서울특별시 노원구 동일로248길 16, 507동 102호(상계동, 수락파크빌)      01624   NaN
 2           서울특별시 노원구 노원로 331, 305동 321호(중계동, 목련아파트)      01786   NaN
 3           서울특별시 노원구 섬밭로 201, 509동 207호(하계동, 시영아파트)      01862   NaN
 4   서울특별시 노원구 동일로207길 186, 102동 1404호(하계동, 학여울청구아파트)      01775   NaN
 5   서울특별시 노원구 동일로207길 186, 102동 1404호(하계동, 학여울청구아파트)      01775   NaN
 6                  서울특별시 노원구 동일로237바길 5-3, 102호(상계동)      01610   NaN
 7                             서울특별시 노원구 상계동 263번지 1호         없음   NaN
 8    서울특별시 노원구 광운로 132, 102동 1202호(월계동, 월계역신도브래뉴아파트)      01885   NaN
 9    서울특별시 노원구 광운로 132, 102동 1202호(월계동, 월계역신도브래뉴아파트)      01885   NaN
 10       서울특별시 노원구 덕릉로76길 29, 402동 1503호(중계동, 주공아파트)      01712   NaN
 11       서울특별시 노원구 덕릉로76길 29, 402동 1503호(중계동, 주공아파트)      01712   NaN
 12   서울특별시 노원구 동일로250길 18, 112동 304호(상계동, 수락산벨리체아파트)      01623   NaN
 13   서울특별시 노원구 동일로250길 18, 112동 304호(상계동, 수락산벨리체아파트)      01623   NaN
 14      서울특별시 노원구 한글비석로 530, 1203동 1503호(상계동, 주공아파트)      01673   NaN
 15      서울특별시 노원구 한글비석로 530, 1203동 1503호(상계동, 주공아파트)      01673   NaN
 16       서울특별시 노원구 동일로215길 23, 220동 214호(상계동, 주공아파트)      01764   NaN
 17       서울특별시 노원구 동일로215길 23, 220동 214호(상계동, 주공아파트)      01764   NaN
 18          서울특별시 노원구 섬밭로 196, 612동 202호(하계동, 장미아파트)      01863   NaN
 19          서울특별시 노원구 섬밭로 196, 612동 202호(하계동, 장미아파트)      01863   NaN

             핸드폰번호         사망사유              시군구등록일시
 0             NaN       사망신고말소  2021.07.01 13.47.53
 1             NaN          NaN                  NaN
 2             NaN       사망신고말소  2021.07.05 10.24.48
 3   010-5203-6880       사망신고말소  2021.07.05 14.40.02
 4             NaN  11호통보의거사망말소  2021.07.08 09.48.42
 5             NaN          NaN                  NaN
 6             NaN       사망신고말소  2021.07.12 13.00.46
 7             NaN  11호통보의거사망말소  2021.07.13 17.22.33
 8   010-4605-5551  11호통보의거사망말소  2021.07.15 13.56.58
 9             NaN          NaN                  NaN
 10            NaN       사망신고말소  2021.07.15 14.46.34
 11            NaN          NaN                  NaN
 12  010-5506-7052  11호통보의거사망말소  2021.07.19 10.15.49
 13            NaN          NaN                  NaN
 14  010-5415-4856       사망신고말소  2021.07.26 13.01.45
 15            NaN          NaN                  NaN
 16            NaN  11호통보의거사망말소  2021.07.30 18.15.54
 17            NaN          NaN                  NaN
 18  010-7123-7287       사망신고말소  2021.07.30 12.47.09
 19            NaN          NaN                  NaN  ,
 '대상자명단(8월)':     순번         수신일       사망신고일  자동차등록번호          주민등록번호   성명   소유구분  \
 0    1  2021.08.04  2021.08.03  19거8474  601208-1447725  황기원  대표소유자
 1    2  2021.08.05  2021.08.04  03버6813  280218-2001018  김현숙  공동소유자
 2    3         NaN         NaN  03버6813  580724-1006013  이윤성  대표소유자
 3    4  2021.08.06  2021.08.05  26오0655  541006-1648115  김상철  공동소유자
 4    5         NaN         NaN  26오0655  840225-1025633  김민규  대표소유자
 5    6  2021.08.12  2021.08.11  46다5952  590307-2037218  이은재  대표소유자
 6    7  2021.08.13  2021.08.12  25오8495  460511-1079611  정석구  대표소유자
 7    8  2021.08.18  2021.08.17  01러4240  640821-1025427  김택환  대표소유자
 8    9         NaN         NaN  01러4240  300802-1025412  김동목  공동소유자
 9   10  2021.08.18  2021.08.17  42로9081  351103-2260616  박인자  대표소유자
 10  11         NaN         NaN  42로9081  631113-1260618  유원상  공동소유자
 11  12  2021.08.19  2021.08.18  02너8787  541010-1775230  권오범  대표소유자
 12  13  2021.08.19  2021.08.18  47모1438  541101-1019211  김영덕  대표소유자
 13  14  2021.08.19  2021.08.18  67노5582  521023-2042325  김제원  대표소유자
 14  15         NaN         NaN  67노5582  480212-1079912  박용식  공동소유자
 15  16  2021.08.20  2021.08.19  80루3704  691019-1009012  길성희  대표소유자
 16  17  2021.08.21  2021.08.20  27고7834  580228-1047715  김형진  대표소유자

                                              주민주소  주민주소 우편번호  \
 0           서울특별시 노원구 중계로16길 46, 501호(중계동, 한울아트빌)       1722
 1       서울특별시 노원구 섬밭로 139, 113동 1001호(공릉동, 풍림아파트)       1850
 2       서울특별시 노원구 섬밭로 139, 113동 1001호(공릉동, 풍림아파트)       1850
 3   서울특별시 노원구 동일로227길 86, 1616동 1505호(상계동, 주공아파트)       1618
 4     서울특별시 노원구 동일로214길 21, 408동 601호(상계동, 주공아파트)       1755
 5     서울특별시 노원구 월계로55길 15, 302동 1304호(월계동, 사슴아파트)       1865
 6      서울특별시 노원구 노원로19길 31, 404동 810호(중계동, 목화아파트)       1787
 7     서울특별시 노원구 월계로45가길 94, 402동 903호(월계동, 청백아파트)       1876
 8             서울특별시 강북구 번동 204번지 신원아파트 101동 1404호       1226
 9      서울특별시 노원구 상계로26길 20, 101동 403호(상계동, 대동아파트)       1698
 10     서울특별시 노원구 상계로26길 20, 101동 403호(상계동, 대동아파트)       1698
 11      서울특별시 노원구 중계로12길 24, 103동 202호(중계동, 금호타운)       1725
 12               서울특별시 노원구 한글비석로47길 84, 201호(상계동)       1679
 13  서울특별시 노원구 동일로207길 17, 108동 914호(중계동, 중계그린아파트)       1778
 14  서울특별시 노원구 동일로207길 17, 108동 914호(중계동, 중계그린아파트)       1778
 15                    서울특별시 노원구 덕릉로131가길 7-1(상계동)       1633
 16        서울특별시 노원구 섬밭로 52, 101동 712호(공릉동, 대주파크빌)       1859

                                          사용본거지 주소  사용본거지 우편번호          전화번호  \
 0           서울특별시 노원구 중계로16길 46, 501호(중계동, 한울아트빌)        1722           NaN
 1       서울특별시 노원구 섬밭로 139, 113동 1001호(공릉동, 풍림아파트)        1850           NaN
 2       서울특별시 노원구 섬밭로 139, 113동 1001호(공릉동, 풍림아파트)        1850           NaN
 3     서울특별시 노원구 동일로214길 21, 408동 601호(상계동, 주공아파트)        1755           NaN
 4     서울특별시 노원구 동일로214길 21, 408동 601호(상계동, 주공아파트)        1755           NaN
 5     서울특별시 노원구 월계로55길 15, 302동 1304호(월계동, 사슴아파트)        1865           NaN
 6      서울특별시 노원구 노원로19길 31, 404동 810호(중계동, 목화아파트)        1787           NaN
 7     서울특별시 노원구 월계로45가길 94, 402동 903호(월계동, 청백아파트)        1876           NaN
 8     서울특별시 노원구 월계로45가길 94, 402동 903호(월계동, 청백아파트)        1876           NaN
 9      서울특별시 노원구 상계로26길 20, 101동 403호(상계동, 대동아파트)        1698           NaN
 10     서울특별시 노원구 상계로26길 20, 101동 403호(상계동, 대동아파트)        1698           NaN
 11      서울특별시 노원구 중계로12길 24, 103동 202호(중계동, 금호타운)        1725  017-767-3227
 12               서울특별시 노원구 한글비석로47길 84, 201호(상계동)        1679           NaN
 13  서울특별시 노원구 동일로207길 17, 108동 914호(중계동, 중계그린아파트)        1778           NaN
 14  서울특별시 노원구 동일로207길 17, 108동 914호(중계동, 중계그린아파트)        1778           NaN
 15                    서울특별시 노원구 덕릉로131가길 7-1(상계동)        1633           NaN
 16        서울특별시 노원구 섬밭로 52, 101동 712호(공릉동, 대주파크빌)        1859           NaN

             핸드폰번호         사망사유              시군구등록일시
 0             NaN       사망신고말소  2021.08.03 10.26.21
 1             NaN       사망신고말소  2021.08.04 11.52.54
 2             NaN          NaN                  NaN
 3             NaN       사망신고말소  2021.08.05 11.40.40
 4             NaN          NaN                  NaN
 5             NaN       사망신고말소  2021.08.11 14.16.05
 6             NaN  11호통보의거사망말소  2021.08.12 16.43.33
 7             NaN  11호통보의거사망말소  2021.08.17 10.10.27
 8             NaN          NaN                  NaN
 9             NaN       사망신고말소  2021.08.17 16.55.33
 10            NaN          NaN                  NaN
 11            NaN       사망신고말소  2021.08.18 13.29.38
 12            NaN  11호통보의거사망말소  2021.08.18 08.54.08
 13  010-8711-5384       사망신고말소  2021.08.18 12.27.12
 14            NaN          NaN                  NaN
 15            NaN       사망신고말소  2021.08.19 17.08.01
 16  010-9357-1917       사망신고말소  2021.08.20 09.24.33  }

In [10]:
# 시트 이름 확인
excel.keys()

dict_keys(['대상자명단(5월)', '대상자명단(6월)', '대상자명단(7월)', '대상자명단(8월)'])

In [12]:
# 특정 시트만 불러오기 : excel['대상자명단(5월)']
excel['대상자명단(5월)']

In [13]:
# 전체 시트를 하나로 합치기(인덱스 무시)
excel_total = pd.concat(excel, ignore_index=True)

excel_total

In [26]:
# 특정 열만 추출하기
excel_regnum_name = excel_total[['자동차등록번호', '성명']]
excel_regnum_name

    자동차등록번호   성명
0   02버2585  신병호
1   11구1488  김동기
2   51러0795  이규남
3   51러0795  김민정
4   07노5689  이승기
..      ...  ...
66  47모1438  김영덕
67  67노5582  김제원
68  67노5582  박용식
69  80루3704  길성희
70  27고7834  김형진

[71 rows x 2 columns]

In [27]:
# 열이름 바꾸기
excel_regnum_name.columns=['등록번호', '소유자']
excel_regnum_name

       등록번호  소유자
0   02버2585  신병호
1   11구1488  김동기
2   51러0795  이규남
3   51러0795  김민정
4   07노5689  이승기
..      ...  ...
66  47모1438  김영덕
67  67노5582  김제원
68  67노5582  박용식
69  80루3704  길성희
70  27고7834  김형진

[71 rows x 2 columns]

In [28]:
#hwp.Open("C:/HWP_API/award.hwp")		# 만약 오류가 발생한다면 : pywintypes.com_error: (-2147352562, '매개 변수의 개수가 잘못되었습니다.', None, None)
hwp.Open("C:/HWP_API/상속 이전 등록 안내문.hwp", "HWP", None)

True

In [29]:
hwp.GetFieldList()

'등록번호\x02소유자'

In [30]:
hwp.GetFieldList(1)

'등록번호{{0}}\x02소유자{{0}}'

In [31]:
hwp.GetFieldList(2)

'등록번호{{1}}\x02소유자{{1}}'

In [32]:
field_list = [i for i in hwp.GetFieldList().split('\x02')]

In [33]:
field_list

['등록번호', '소유자']

In [34]:
# 총 몇명인지 확인
len(excel_regnum_name)

71

In [35]:
# pandas 복습
# excel["열이름"]  ==> DataFrame의 특정 열

excel_regnum_name["등록번호"]

0     02버2585
1     11구1488
2     51러0795
3     51러0795
4     07노5689
       ...
66    47모1438
67    67노5582
68    67노5582
69    80루3704
70    27고7834
Name: 등록번호, Length: 71, dtype: object

In [38]:
# pandas 복습
# excel["열이름"].iloc[row인덱스]  ==> DataFrame의 특정 열 & 특정 행

excel_regnum_name["등록번호"].iloc[0:3]

0    02버2585
1    11구1488
2    51러0795
Name: 등록번호, dtype: object

In [114]:
# DataFrame에서 값 읽어오기
# 날짜 포맷 : 2021-10-10 00:00:00

for row in range(len(excel)):
    for field in field_list:
        print(excel[field].iloc[row], end='\t')
    print()

1	대상	박혜경	박혜경	2021년 1월 10일
2	최우수상	이보람	이보람	2021년 2월 1일
3	금상	김남우	김남우	2021년 3월 8일
4	은상	조남일	조남일	2021년 8월 1일
5	동상	최고집	최고집	2021년 10월 14일
6	장려상	수한무	수한무	2021년 10월 15일

In [70]:
# 엑셀의 날짜 문자열이 timestamp로 입력된다.
# 이때 시간부분을 잘라내려면 timestamp.date()
# 반환값의 type은 datetime.date

# for row in range(len(excel)):
#     excel['시상일'].iloc[row] = excel['시상일'].iloc[row].date()

C:\ProgramData\Anaconda3\envs\pr\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [72]:
# type(excel['시상일'].iloc[0])

datetime.date

In [113]:
# 엑셀의 날짜 문자열이 timestamp로 입력된 경우
# 'yyyy-mm-dd' 형식이 아니라 'yyyy년 mm월 dd일' 형식으로 맞추려면
# 아래와 같이 포맷한다.
for row in range(len(excel)):
    excel['시상일'].iloc[row] = f"{excel['시상일'].iloc[row].year}년 {excel['시상일'].iloc[row].month}월 {excel['시상일'].iloc[row].day}일"

C:\ProgramData\Anaconda3\envs\pr\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [117]:
hwp.MovePos(0)    # 가장 처음부분으로

True

In [119]:
hwp.Run('SelectAll')

In [120]:
hwp.Run('Copy')    # hwp.Run('Cut')    hwp.Run('Paste')

In [121]:
hwp.MovePos(3)

True

In [122]:
# 1페이지의 와꾸를 상장 수상자 수만큼 복사한다.
# 엑셀 파일에 총 6명의 수상자
# 따라서 "전체선택"+"복사" 후에 5번(0~4)을 "붙여넣기"해준다

for i in range(len(excel)-1):
    hwp.Run('Paste')
    hwp.MovePos(3)    # 문서 맨끝으로=3

hwp.MovePos(3)

In [123]:
import time
# 1~6페이지(index=0~5)까지 와꾸 완성됐으면
# 이제 페이지마다(0~5) 누름틀 필드에 값을 집어넣음

for page in range(len(excel)):    # 모든 페이지에
    for field in field_list:    # 각 페이지의 모든 필드(누름틀)
        hwp.MoveToField(f"{field}{{{{{page}}}}}")  # 커서를 해당 누름틀로 이동
        time.sleep(1)
        hwp.PutFieldText(f"{field}{{{{{page}}}}}", excel[field].iloc[page])